### Output comparison with reference
[envs.check_reference]
command = "bril2json < {filename} | brilirs $(awk '/^# ARGS:/ {{for (i=3; i<=NF; i++) print $i}}' {filename})"

[envs.check_ssa]
command = "./target/release/rust_bril {filename} --log-level error | brilirs $(awk '/^# ARGS:/ {{for (i=3; i<=NF; i++) print $i}}' {filename})"

[envs.check_dce]
command = "./target/release/rust_bril {filename} --log-level error --dce | brilirs $(awk '/^# ARGS:/ {{for (i=3; i<=NF; i++) print $i}}' {filename})"

[envs.check_lvn_dce]
command = "./target/release/rust_bril {filename} --log-level error --lvn --dce | brilirs $(awk '/^# ARGS:/ {{for (i=3; i<=NF; i++) print $i}}' {filename})"

### Dynamic Instruction Count: not checked for correctness
[envs.bench_reference]
command = "bril2json < {filename} | brilirs -p $(awk '/^# ARGS:/ {{for (i=3; i<=NF; i++) print $i}}' {filename}) > /dev/null"
output.baseline_prof = "2"

[envs.bench_ssa]
command = "./target/release/rust_bril {filename} --log-level error | brilirs -p $(awk '/^# ARGS:/ {{for (i=3; i<=NF; i++) print $i}}' {filename}) > /dev/null"
output.ssa_prof = "2"

[envs.bench_ssa_dce]
command = "./target/release/rust_bril {filename} --log-level error --dce | brilirs -p $(awk '/^# ARGS:/ {{for (i=3; i<=NF; i++) print $i}}' {filename}) > /dev/null"
output.ssa_dce_prof = "2"

[envs.bench_ssa_lvn_dce]
command = "./target/release/rust_bril {filename} --log-level error --lvn --dce | brilirs -p $(awk '/^# ARGS:/ {{for (i=3; i<=NF; i++) print $i}}' {filename}) > /dev/null"
output.ssa_lvn_dce_prof = "2"
